html, body, th, td, dl, dt, dd, ul, ol, li, form, textarea, input, select, h1, h2, h3, h4, h5, h6, iframe, p {
    margin: 0;
    padding: 0;
    font: 13px Arial, Helvetica, sans-serif;
}

em {
    font-style: normal;
}

body {
    background: #fff;
}

dl, ul {
    list-style: none;
}

img, body, html {
    border: 0;
}

img, input, select, button {
    vertical-align: middle;
}

a {
    color: #12c;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}

#api-params {
    margin-top: 10px;
}

#api-params li {
    zoom: 1;
    overflow: hidden;
    padding: 1px 5px;
}

#api-form .name{
    font-size: 14px;
    font-weight: bold;
}

#api-result {
    margin-left: 5px;
    width: 90%;
    height: 300px;
}

#api-list li {
    padding: 1px 10px;
}

#api-list .title {
    border-bottom: 1px solid #aaa;
    padding: 5px 5px;
}

h3 {
    padding: 0;
    margin: 0;
}
